html, body {

    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 0;
    box-sizing: border-box;

	display: border-box;
    background-color: rgb(198, 185, 255);

    font-family: monospace, sans-serif;


}

main {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

a, a:link, a:visited, a:hover, a:focus, a:active {

    color: inherit;
    text-decoration: none;

}



@view-transition{

    navigation: auto;

}


::view-transition-old(root){

    animation: fade-out-up 1s ease-out both;

}

::view-transition-new(root){

    animation: fade-in-down 1s ease-out both;

}

@keyframes fade-out-up {

    from {

        opacity: 1;
        transform: translateY(0%);

    }
    
    to {

        opacity: 0;
        transform: translateY(100%);

    }

}

@keyframes fade-in-down {

    from {

        opacity: 0;
        transform: translateY(-100%);

    }

    to {

        opacity: 1;
        transform: translateY(0%);

    }

}
