html, body {

    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 0;
    box-sizing: border-box;

	display: border-box;
    background-color: rgb(198, 185, 255);

    font-family: monospace, sans-serif;


}

main {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

a, a:link, a:visited, a:hover, a:focus, a:active {

    color: inherit;
    text-decoration: none;

}