---
import Layout from '../layouts/Layout.astro';

import BlogButton from '../components/BlogButton.astro';
import BlogCard from '../components/BlogCard.astro';

const blogs = [
	{ 
		title: "Cats",
		summary: "Curious, playful, and endlessly charming, cats have a way of turning every home into a stage for their delightful antics.",
		img: "../../public/images/cat.jpeg",
		page: "/blog/BlogCat"
	},
  	{ 
		title: "Dogs",
		summary: "Loyal, energetic, and full of personality, dogs turn every walk, fetch, and cuddle into an unforgettable adventure.",
		img: "../../public/images/dog.jpg",
		page: "/blog/BlogDog"

	},
	{
		title: "Birds",
		summary: "With their vibrant colors and melodious songs, birds bring a burst of life and wonder to every corner of the sky—and our homes.",
		img: "../../public/images/bird.jpg",
		page: "/blog/BlogBird"
	},
	{
		title: "Fish",
		summary: "Graceful, mesmerizing, and endlessly fascinating, fish turn every aquarium into a world of wonder.",
		img: "../../public/images/fish.jpg",
		page: "/blog/BlogFish"
	},
];
---


<Layout>
	<main>
		<h1> Select a blog to read below: </h1>
		<div class = "blog-container">
			{blogs.map(blog => (
				<BlogCard
					title = {blog.title}
					summary = {blog.summary}
					img = {blog.img}
					page = {blog.page}
				/>
			))}
		</div>
	</main>
</Layout>


<style>
	.blog-container {

		height: 50vh;
		width: 80vw;

		display: flex;
		flex-direction: row;
		justify-content: center;
		overflow-y: auto;
		flex-wrap: wrap;

		gap: 3rem;
		padding: 3rem;

		border: 0.5rem double purple;

	}
</style>
