---
import LeaveButton from "./BlogLeaveButton.astro";


const { title, date} = Astro.props;
---

<h1>{title}</h1>
<b>Date: {date}</b>
<LeaveButton/>
<div class = "blog">
    <slot />
</div>

<style>

    h1 {

        color: rgba(53, 0, 144, 1);

    }

    .blog {

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 2rem;

        border: 0.3rem solid purple;

        h2 {

            color: rgba(86, 0, 115, 1);

        }


        figure {

            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2rem;
            margin-bottom: 2rem;

            font-size: 0.8rem;
            gap: 1rem;

        }

        img {

            width: 30%;
            height: auto;

            padding: 1rem;

            border: 0.4rem double rgba(45, 0, 142, 1);

        }


    }

</style>