---
const {} = Astro.props;
---

<div class = "blog-container"> 

</div>

<style>

    .blog-container {

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 2rem;

        border: 0.3rem solid purple;

    }

    img {

        height: 10rem;
        width: 10rem;

        padding: 1rem;

        border: 0.3rem solid rgb(52, 0, 98);

    }

</style>